# PostgreSQL
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# FS
FS_ENDPOINT=
FS_ACCESS_KEY=
FS_SECRET_KEY=
FS_SECURE=False
FS_BUCKET_NAME=

# API
API_BASE_URL=http://localhost:8000
FILE_EXTENSIONS="usd,usda,usdc,png,jpg"
